<%= content_tag(:h3, "Olá,") %>
<%= content_tag(:p, "Por favor, utilize o link abaixo para redefinir sua senha:") %>
<%= content_tag(:p, link(@url, to: @url)) %>
<%= content_tag(:p, "Caso não tenha solicitado, favor desconsiderar esse e-mail.") %>
